body,html {
	margin: 0;
	padding: 0;
}
.flexbox {
	padding: 20px;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: center;
}
.box1,.box2,.box3,.box4 {
	width: 150px;
	border-style: solid;
	border-width: 1px;
	flex: 0 1 auto;
	margin-bottom: 20px;
}
.box1 {
	height: 120px;
	border-color: #f00;

}
.box2 {
	height: 100px;
	border-color: #f00;
}
.box3 {
	height: 40px;
	border-color: #f00;
}
.box4 {
	height: 200px;
	border-color: #0f0;
}
@media (max-width:640px) {
	.flexbox {
		align-items: flex-start;
	}
	.box4 {
		order:-1;
	}
}