.main-content {
	padding: 20px;
	width: 100%;
	background-color: #eee;
	border:1px solid #999;
	position: relative;
	overflow: hidden;
}
.left-team {
	width: 158px;
	padding: 20px;
	display: inline-block;
	float: left;
	border:1px solid #999;
	background-color: #fff;
}
.teamlogo {
	display: inline;
	width: 80px;
	height: 80px;
	border:1px solid #999;
	float: left;
}
.teamname {
	display: inline;
	font-size: 11px;
	font-weight: 700;
	float: left;
	padding-left: 20px;
}
.center-introduce {
	padding: 20px;
	border:1px solid #999;
	left: 240px;
	right: 160px;
	position: absolute;
	background-color: #fff;
	bottom:20px;
	top:20px;

}
.center-introduce p {
	word-wrap:break-word;
	text-indent: 24px;
}
.right-personal {
	padding: 10px 20px;
	width: 80px;
	border:1px solid #999;
	float: right;
	background-color: #fff;

}
.personal-logo {
	margin: 10px 0;
	width: 80px;
	height: 80px;
	border:1px solid #999;
}

body{margin:0px;} 